
body {
  
}

.login {
  margin-top: 10em;
}

.login form {

}

.login form table {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  display: table;
  background: rgba(240,240,240,.5);
	font: 14px/100% Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #808080;
  padding: 0.7cm; 
  border: 1pt solid #d0d0d0;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
}

.login form table td {
  padding: 0;
  margin: 0;
}

.login form table td img {
  width: 200px;
  padding: 1em; 
  margin: 0;
}

p.error {
  color: #ff6633;
}

.login input {
  color: #808080;
  border: none;
  height: 2em;
  margin: 0.1em;
}

.menu {
  float: left;
}

.login button, .menu button {
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);

	/*color: #fef4e9;*/
	color: #f0f0f0;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	
	width: 100%;
}

.login button:hover, .menu button:hover {
	text-decoration: none;

	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');

}

.login button:active, .menu button:active {
	position: relative;
	top: 1px;

	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');

}  

