
body {
}

.login {
  margin-top: 7em;
}

.login form {

}

.login form table {
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
  display: table;
  background: rgba(240,240,240,.5);
	font: 14px/100% Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #808080;
  padding: 0.7cm; 
  border: 1pt solid #d0d0d0;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
}

.login form table td {
  padding: 0;
  margin: 0;
}

.login form table td img {
  width: 200px;
  padding: 1em; 
  margin: 0;
}

p.error {
  color: #ff6633;
}

.login input {
  color: #808080;
  border: none;
  height: 2em;
  margin: 0.1em;
}

.menu {
  float: left;
  width: 200px;
  display: block;
  margin-right: 1em;
  padding-right: 1em;
  border-right: 1px solid #808080;
  height: 800px;
}

.menu table img {
  width: 200px;
}

.shares {
  display: block;
  color: #808080; 
	font: 14px/100% Arial, Helvetica, sans-serif;
}

.shares h1, h1.admin {
	font: 16px/120% Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #606060;
}

.shares h3 {
	font: 14px/120% Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.shares tr.shareinfo {
  padding: 0;
  margin: 0;
  background: #808080;
  color: white;
}

.shares tr.shareinfo td {
  padding-bottom: 1em;
}

.shares li {
  padding: 0.1em;
}

.shares button, .shares p.kind {
	display: block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	color: #808080;
	border: solid 1px #f0f0f0;
	background: #e0e0e0;
	width: 100%;
}

.shares button {
  padding: .3em 3em .3em;
}

.shares button:hover {
  background: #d0d0d0;
}

.shares p.kind {
  padding-top: .4em;
  padding-left: .5em;
  padding-bottom: .4em;
  padding-right: .5em;
}

.shares p.kind:hover {
  background: #d0d0d0;
}

.shares table {
  width: 700px;
  border-collapse:collapse;
}

.shares tr.gray {
  background: #f8f8f8;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
}

.shares tr.white {
  background: #ffffff;
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
;}

.shares th {
	color: #f0f0f0;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	padding: 1em;
}

.shares td {
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 0;
  padding-bottom: 0;
  margin-left: 0.5em;
  margin-right: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
}

.shares .name {
  width: 90%;
  font-weight: bold;
}

.shares .holder {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}

.login button, .menu button {
	display: block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em; 
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);

	/*color: #fef4e9;*/
	color: #f0f0f0;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	
	width: 100%;
}

.login button:hover, .menu button:hover {
	text-decoration: none;

	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');

}

.login button:active, .menu button:active {
	position: relative;
	top: 1px;

	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');

}  



